body {
    margin:auto;
    background-color: #fff;
    font-size: 13px;
    line-height: 15px;
    color: #000;
    font-family: Myriad Pro, Arial, sans-serif;  
    margin: auto;
    width:712px;
    margin-top: 10px;
    margin-left:52px;
}

/*header */

header {
    float:left;
    width:100%;
}

#FHlogo {
    margin-left: -20px;
    margin-top: 10px;
    width: 200px;
    height: 300px;
}

#MIlogo {
    float:right;
    margin-top: -38px;
    padding-right: 10px;
}

#MIlogo span {
    color:#dd1166;
}

#barrierenav {
    clear:both;
    background-color: #77cc00;
    float: right;
    padding: 5px 8px 0px 8px;
    margin-top: 10px;
    color: #fff;
    text-align: left;
}

#barrierenav a {
    text-decoration: none;
}

#teaser {
    border-top: solid 6px #77cc00;
    float:left;
    width:712px;
    }



/*navigation*/
 
 nav {
    float:left;
    width: 162px;
    height: 100%;
    position:static;
    margin-right: 10px;
    margin-top: 48px;
/*    border-top: solid 3px #d16;*/  
 }

nav li {
    list-style: none;
    text-indent: -38px;   
}

nav a{
    color: #d16;
    text-decoration: none;
}

/*drei Fälle um Navigation mit der Tastatur zu ermöglichen*/

nav a:hover, nav a:focus, nav a:active {
	background: #d16;
	color: #fff !important;
	padding: 2px;
}

nav a:visited{
	border: none;
}

#breadcrumb a{
    text-decoration: none;
    color: #000;
}

#breadcrumb a:hover,#breadcrumb a:focus,#breadcrumb a:active {
    text-decoration: underline;
}

#breadcrumb a:visited {
    text-decoration: none;
}


/*schriften*/

h1 {
    background: #d16;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
    float: left;
    letter-spacing: 1px;
    text-align: left;
}

h1.small {
    padding: 6px 4px 4px 4px;
    font-size: 13px;
}

h1.big {
    font-size: 15px;
}

h2 {
    clear:both;
    color: #77cc00;
    font-size: 15px;
    float:left;
    font-weight: 500;
}


#text {
    width: 532px;
    float:left;
    padding-left: 8px;
    padding-top: 25px;  
}

/* funktioniert so noch nicht

linkImText a {
	color: #000;	
	border-bottom: dotted 1px #d16;
	text-decoration:none;
}
.linkImText a:visited {
	color: #666;
	border-bottom: dotted 1px #d16;
}


.linkImText a:hover{
	color: #75bf0d;
}*/

.info{
    color:grey;
    margin-left: 0px;
}


/*  to do: Farbe grau und Aufzählungs Punkte größer*/
#text ul {
    list-style: square;
    margin-left: -25px;
}

#zeichenGross {
    font-size: 18px;
    color: #fff;
}


/*footer*/

footer {
clear: both;
border-top: solid 3px #77cc00;
padding-bottom: 16px;
width: 100%;
}

.contrast-bright  {
    background: url("../img/logo.svg") no-repeat;
}

.contrast-dark  {
    background: url("../img/logo-negativ.svg") no-repeat;

}