.calendarDateLinked {
	position: relative;
	background: #6ab42d;
	border: 4px solid #c2e1f5;
}
.calendarDateLinked:after, .calendarDateLinked:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.calendarDateLinked:after {
	border-color: rgba(106, 180, 45, 0);
	border-top-color: #6ab42d;
	border-width: 30px;
	margin-left: -30px;
}
.calendarDateLinked:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;