
.favorite_button {
    background-image: url("../images/3d-yellow-star.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: orangered;
    text-align-last: right;
    height: 22px;
    color: white;
    font: bold 14px 'Trebuchet MS';
    cursor: pointer;
    margin-left: 2px;
}
