#flexBox3{position:relative; left:0;   bottom:-23px;}
#flexBox2{position:relative; left:380px; bottom:180px;}
#flexBox4{position:relative; left:380px; bottom:158px;}
#flexBox5{position:relative; left:0; bottom:120px;}
#flexBox6{position:relative; left:380px; bottom:300px;}

#flexBox, #flexBox2, #flexBox3, #flexBox4, #flexBox5, #flexBox6 {
    display: -moz-box; /* Firefox */
    display: -webkit-box; /* Safari and Chrome */
    display: -ms-box; /* Internet Explorer 10 */
    width: 380px;
    /*/border:1px solid black;*/
}

#flexImgBox, #flexImgBox2, #flexImgBox3, #flexImgBox4, #flexImgBox4, #flexImgBox6 {
    -moz-box-flex: 1.0; /* Firefox */
    -webkit-box-flex: 1.0; /* Safari and Chrome */
    -ms-flex: 1.0; /* Internet Explorer 10 */
    /*border:1px solid red;*/
}

#flexImgBox img, #flexImgBox2 img, #flexImgBox3 img, #flexImgBox4 img, #flexImgBox5 img, #flexImgBox6 img {
    max-height: 160px;
    max-width: 160px;
    min-height: 175px;
    min-width: 120px;
    margin-right: 10px;
    position: relative;
    box-shadow: 1px 1px 5px #888888;
}

#flexRest, #flexRest2, #flexRest3, #flexRest4, #flexRest5, #flexRest6 {
    -moz-box-flex: 2.0; /* Firefox */
    -webkit-box-flex: 2.0; /* Safari and Chrome */
    -ms-flex: 2.0; /* Internet Explorer 10 */
    /*border:1px solid blue;*/
}


#flexRest p, #flexRest2 p, #flexRest3 p, #flexRest4 p, #flexRest5 p, #flexRest6 p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    text-justify: inter-word;
    break-after: avoid-column;
    word-wrap: break-word;
    width: 240px;
    height: 75px;
    position: relative;
    bottom: 20px;
}

