body {   
    font-size: 17px;
    line-height: 20px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 18px;
}

.semester h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    font-weight: 200;
}

.semester {
    font-size: 20px;
}


#characterBig {
    font-size: 22px;
    color: #fff;
}

.course-offer {
    font-size: 0px;
}
