body {
    letter-spacing: 0.5px;
    background-color: #000;
    color: #fff;
}


.logo{
    background: url("../img/logo-negativ.svg") no-repeat;
}


#breadcrumb a{
    color: #fff;
}


.textlink {
    color: #fff;
}

.info {
    color: #77cc00;
}

nav a {
    color: #fff;
}

.course {
    border: solid 1px #b4a7a0;
    background-color: transparent;
    width: 165px;
    height: 170px;
}