.search_dropdown {
    position: relative;
    width: 296px;
    left: 351px;
    height: 32px;
    z-index: 200;
    text-align: left;
    border: 0;
    top: 81px;
    background-color: white;
    float: none;
}
