.favorit-section {
    top: 20px;
    margin: 10px 10px auto;
    width: 98%;
    border-radius: 2px;
    position: relative;
    padding-top: 10px;
    height:200px;
}

.mein-profil-page {
    margin: 120px auto;
    width: 1000px;
    height: auto;
    position: relative;
}