
.mezzomix_ist_geil {

    width:400px;
    height:500px;
    display:inline-table;
    padding:20px;
}

.mein_profil_titel {
    font-family: "Times New Roman", Times, serif;
    display:grid;   
}

.mein_profil_img {

    height:300px;
    width:200px;

}
.mein_profil_desc {
    font-family: "Times New Roman", Times, serif;
    display:block;

}